<div class="footer">
    <div>En memoire de <span>IMPOSE TON ANONYMAT</span> de <a href="https://www.martinsek.fr" target="_blank">Martin Sek</a>.</div>
    <div>Code Source: <a href="https://github.com/makidelille/1posetonanonymat" target="_blank">Github</a></div>
</div>