<div>
    <nav class="navigation">
        <div class="linkContainer">
            <a class="link" href="/post/1">Dernier posts</a>
            <a class="link" href="/random">Post Random</a>
            <a class="link" href="/about">A propos</a>
        </div>
        <h1 class="title">1POSE TON ANONYMAT</h1>    
    </nav>
</div>
