<!DOCTYPE html>
<html>
<head>
    <%- include("./partials/header.ejs") %>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <article>
        <h3>Hum, il semblerait qu'une erreur se soit produite. ¯\_(ツ)_/¯</h3>
    </article>
    <%- include("./partials/footer.ejs") %>
</body>
</html>